.acfb-main {
    width: 100%;
    height: calc(100vh - 16px);
    position: relative;
}
.acfb-hidden {
    display: none !important;
}
.acfb-invisible {
    visibility: hidden !important;
}

/* controls */

.acfb-controls {
    width: 100%;
    margin-bottom: 1rem;
}
.acfb-controls div {
    display: inline-block;
    margin-right: 8px;
}
.acfb-button {
    min-width: 64px;
    padding: 4px 8px;
    cursor: pointer;
}
.acfb-button.acfb-active {
    font-weight: bold;
    color: green;
}

/* canvas */

.acfb-canvas {
    width: 100%;
}
.acfb-timepoint {
    border-radius: 5px;
    font-size: 1.75rem;
    text-shadow: black 0px 0px 10px;
    font-weight: 600;
}
.tick {
    font-size: 0.8rem;
}
.acfb-stratum-count {
    font-weight: bold;
}
.acfb-node {
    fill-opacity: 0.5;
    stroke-opacity: 1;
    stroke-width: 1;
}
.acfb-node.acfb-clicked {
    fill-opacity: 0.75;
    stroke-width: 2;
}
.acfb-node:hover {
    fill-opacity: 0.75;
    stroke-width: 2;
}
